<header>
  <h2>Customer Search</h2>
</header>

<section class="search-form">
  <%= form_for :customers, method: :get do |f| %>
      <div class="input-group">
        <%= label_tag :keywords, nil, class: 'sr-only' %>
        <%= text_field_tag :keywords, nil, placeholder: 'First Name, Last Name or Email Address', class: 'form-control input' %>
        <span class="input-group-btn">
          <%= submit_tag 'Find Customers', class: 'btn btn-primary' %>
        </span>
      </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h3>Results</h3>
  </header>
  <ol class="list-group">
    <% @customers.each do |customer| %>
        <li class="list-group-item clear-fix">
          <h3 class="pull-right">
            <small>Joined</small> <%= customer.created_at.to_date %>
          </h3>
          <h3>
            <%= customer.first_name %><%= customer.last_name %> <small><%= customer.username %></small>
          </h3>
          <h4><%= customer.email %></h4>
        </li>
    <% end %>
  </ol>
</section>
